/*
 * Variables
 * Add your site-variables, such as colours and font sizes in this file.
 */

$legacy_support_for_ie: false;
$normalize_headings: true;

/* Colors */
$background: #fff;
$color: #000;
$white: #fff;
$base-text-color: $color;
$base-selected-text-color: invert($base-text-color);
$base-selected-text-background-color: $base-text-color;
$base-link-color: #e93130;
$base-link-hover-color: #19bdbe;

/* Font sizes */
$fs_1: 32px;
$fs_2: 24px;
$fs_3: 20px;
$fs_4: 16px;
$fs_5: 14px;
$fs_6: 12px;

$base-font-size: 16px;
$base-line-height: 24px;

/* Grid (powered by Bourbon Neat) */
$gutter: 20px;
$grid-columns: 12;
$max-width: 1080px;
$column: ($max-width - ($gutter * $grid-columns)) / $grid-columns;

/* Breakpoints */
$breakpoint_1: 560px;
$breakpoint_2: 720px;
$breakpoint_3: 880px;
