/*
 * Navigation
 * Add your navigation-related theming, such as menus in this file.
 */

.primary_navigation {
  h2 {
    display: none;
  }
  ul.menu {
    text-align: center;

    li {
      margin: 0;
      padding: 0;
    }

    a {
      display: inline-block;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
    }
  }
}
